Maintainer: Armbian Community <info@armbian.com>
Section: metapackages
Source: armbian-meta
Priority: optional
Standards-Version: 4.6.1
Build-Depends: debhelper (>= 7.0.50~)

#############################################################################

Package: armbian-common
Description:
 Packages that should be installed on all armbian installations
 .
 Packages in Depends create a minimal system that will boot, have network and
 start an SSH daemon for access
Priority: required
Essential: yes
Architecture: all
Depends:
 apt-utils,
 ca-certificates,
 console-setup,
 e2fsprogs,
 initramfs-tools,
 iproute2,
 logrotate,
 linux-base,
 nano|vim,
 netplan.io|network-manager,
 openssh-server,
 pastebinit,
 locales,
 gnupg2,
 sudo,
 tzdata,
 ${misc:Depends}
Recommends:
 anacron,
 avahi-utils,
 bash-completion,
 bc,
 btrfs-progs,
 cron,
 curl,
 dbus-user-session,
 dosfstools,
 dialog,
 debconf-utils,
 debsums,
 fake-hwclock,
 fastfetch|neofetch,
 fdisk,
 figlet,
 gpg,
 htop,
 init,
 iw,
 jq,
 less,
 lsof,
 man-db,
 mmc-utils,
 ncurses-term,
 parted,
 polkitd|policykit-1|pkexec,
 psmisc,
 pciutils,
 rsync,
 rsyslog,
 squid-deb-proxy-client|auto-apt-proxy,
 systemd-resolved,
 toilet,
 u-boot-tools,
 usbutils,
 wget,
 wireguard-tools,
 wireless-regdb,
 wpasupplicant
Suggests:
 armbian-bsp|armbian-bsp-cli,
 armbian-desktop,
 docker.io|docker-ce|podman

#############################################################################

Package: armbian-bsp
Description: board-specific hardware support
Priority: required
Essential: yes
Architecture: any
Depends:
 linux-image,
 ${misc:Depends}

#############################################################################

Package: armbian-desktop-gnome
Description: Install Armbian GNOME DE
Priority: optional
Architecture: all
Provides:
 armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop
Replaces: gdm3
Depends:
 armbian-desktop-common,
 ${misc:Depends}
Recommends:
 gdm3,
 gnome-control-center,
 gnome-desktop3-data,
 gnome-disk-utility,
 gnome-keyring,
 gnome-menus,
 gnome-packagekit,
 gnome-screenshot,
 gnome-session,
 gnome-shell,
 gnome-shell-extension-appindicator,
 gnome-system-monitor,
 gnome-terminal,
 gvfs-backends,
 nautilus,
 nautilus-extension-gnome-terminal|nautilus (>= 1:49.0),
 ubuntu-desktop-minimal,
 xwayland
Suggests:
 pavucontrol,
 pulseaudio,
 pulseaudio-module-bluetooth,
 software-properties-gtk,
 synaptic

#############################################################################

Package: armbian-desktop-cinnamon
Description: Install Armbian Cinnamon DE
Priority: optional
Architecture: all
Provides: armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop
Depends:
 armbian-desktop-common,
 ubuntucinnamon-desktop-minimal|cinnamon-core,
 ${misc:Depends}

#############################################################################

Package: armbian-desktop-i3-wm
Description: Install Armbian I3 tiling DE
Priority: optional
Architecture: all
Provides: armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop
Depends:
 armbian-desktop-common,
 i3-wm,
 ${misc:Depends}

#############################################################################

Package: armbian-desktop-kde
Description: Install Armbian KDE DE
Priority: optional
Architecture: all
Provides: armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop
Depends:
 armbian-desktop-common,
 kde-plasma-desktop,
 ${misc:Depends}

#############################################################################

Package: armbian-desktop-xfce
Description: Install Armbian XFCE DE
Priority: optional
Architecture: all
Provides:
 armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop
Depends:
 armbian-desktop-common,
 xfce4,
 ${misc:Depends}
Recommends:
 xfce4-notifyd,
 xfce4-power-manager,
 xfce4-screenshooter,
 xfce4-terminal

#############################################################################

Package: armbian-desktop-generic
Description: Install generic Armbian DE
Priority: optional
Architecture: all
Depends:
 armbian-desktop-common,
 lightdm,
 ${misc:Depends}
Provides:
 armbian-desktop
Breaks: armbian-desktop
Conflicts: armbian-desktop

#############################################################################

Package: armbian-desktop-common
Description: Install packages common to all Armbian Desktop installations
Priority: optional
Architecture: all
Conflicts:
 armbian-bookworm-desktop-cinnamon,
 armbian-bookworm-desktop-gnome,
 armbian-bookworm-desktop-i3-wm,
 armbian-bookworm-desktop-xfce,
 armbian-noble-desktop-cinnamon,
 armbian-noble-desktop-gnome,
 armbian-noble-desktop-kde-neon,
 armbian-noble-desktop-xfce
Replaces:
 armbian-bookworm-desktop-cinnamon,
 armbian-bookworm-desktop-gnome,
 armbian-bookworm-desktop-i3-wm,
 armbian-bookworm-desktop-xfce,
 armbian-noble-desktop-cinnamon,
 armbian-noble-desktop-gnome,
 armbian-noble-desktop-kde-neon,
 armbian-noble-desktop-xfce
Depends:
 armbian-common,
 evince|thunderbird|trojita|sylpheed,
 terminator|konsole|gnome-terminal|xfce-terminal|xterm|termonad,
 xdg-user-dirs-gtk,
 ${misc:Depends}
Recommends:
 eject,
 google-chrome-stable|chromium-browser,
 printer-driver-all,
 profile-sync-daemon,
 system-config-printer,
 upower,
 xfonts-scalable|xfonts-100dpi|xfonts-75dpi|xfonts-base
Suggests:
 at-spi2-core,
 ayatana-indicator-printers,
 blueman,
 bluez,
 bluez-cups,
 bluez-tools,
 brltty,
 brltty-x11,
 cifs-utils,
 colord,
 cups,
 cups-bsd,
 cups-client,
 cups-filters,
 dbus-x11,
 dconf-cli,
 dmz-cursor-theme,
 fontconfig,
 fontconfig-config,
 fonts-noto-cjk,
 fonts-ubuntu,
 fonts-ubuntu-console,
 foomatic-db-compressed-ppds,
 gdebi,
 ghostscript-x,
 gnome-disk-utility,
 gnome-font-viewer,
 gnome-screenshot,
 gnome-system-monitor,
 gstreamer1.0-packagekit,
 gstreamer1.0-plugins-base-apps,
 gstreamer1.0-pulseaudio,
 gtk2-engines,
 gtk2-engines-murrine,
 gtk2-engines-pixbuf,
 gvfs-backends,
 hplip,
 inputattach,
 inxi,
 keyutils,
 laptop-detect,
 libatk-adaptor,
 libnotify-bin,
 lm-sensors,
 lxtask,
 mesa-utils,
 mousepad,
 mousetweaks,
 numix-gtk-theme,
 numix-icon-theme,
 numix-icon-theme-circle,
 openprinting-ppds,
 orca,
 p7zip-full,
 pamix,
 pasystray,
 pavucontrol,
 pulseaudio,
 pulseaudio-module-bluetooth,
 qalculate-gtk,
 redshift,
 slick-greeter,
 smbclient,
 software-properties-gtk,
 spice-vdagent,
 synaptic,
 thunar-volman,
 update-inetd,
 update-manager,
 viewnior,
 x11-apps,
 x11-session-utils,
 x11-utils,
 x11-xserver-utils,
 xapps-common,
 xarchiver,
 xauth,
 xbacklight,
 xcursor-themes,
 xfonts-base,
 xfonts-encodings,
 xfonts-utils,
 xorg-docs-core,
 xscreensaver,
 xsensors,
 xserver-xorg,
 xserver-xorg-video-fbdev,
 xwallpaper,
 xwayland,
 zenity
